@page "/"
@page "/Index"
@page "/Index/{value}"
<img src="/images/logo-blazor.png" class="custom-logo" />
<br />
<MyFirstComponent @ref="myFirstComponent" Title="My First Component - Child Component"></MyFirstComponent>

@if (Value != null)
{
    <br/>
    <p><b>Value: </b>@Value</p>
}
<br/>
<button @onclick="SetCustomMessageClick">Set Custom Message</button>